.grid-container{
    border: 1px solid black;
    margin-top: 100px;
    width:  400px;
    padding: 10px;
    text-align: center;
}

.grid-container:hover{
    box-shadow: 3px 5px 3px 3px rgba(5, 5, 5, 0.226);
}

.grid-container li{
    list-style: none;
}

.grid-container ul{
    padding:0;
}

.hero-image{
    border-radius: 10px;
    display: inline-block;
    width: 300px;
    height: 320px;
}

.house-banner{
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
}

.stats-container{
    display: inline-block;
}

.stats-icon{
    margin-right: 10px;
}

