.footer-container{
   background-color: #A51919; 
   height: 30px;
}

.footer-container p{
    display: inline-block;
    color: #030303;
    font-size: 18px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    float: right;
}